/* --- Reset --- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img, video {
  max-width: 100%;
  display: block;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

/* --- variables --- */

/* --- global styles --- */
li > p {
    padding: 0;
    margin: 0;
}

body {
  background-color: rgb(162, 162, 162);
}

dialog {
  margin-top: 10%;
  margin-left: 40%;
  border: 0;
}

dialog > * {
  display: flex;
  flex-direction: column;
}
/* only shown when dialog is opened with .showModal() */
::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}

/* --- Layout / grid --- */

/* --- HEADER --- */

/* --- MAIN --- */

#addBooksDialog {
  padding: 20px;
  border-radius: 10px;
  border: 0;
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
  color: white;
  font-weight: bold;
  font-size: 20px;
}