/* --- Reset --- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img, video {
  max-width: 100%;
  display: block;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* --- variables --- */

/* --- global styles --- */
li > p {
    padding: 0;
    margin: 0;
}

body {
  background-color: rgb(162, 162, 162);
}

dialog {
  display: flex;
  justify-self: center;
  margin-top: 20%;
  border: 0;
}

dialog > * {
  display: flex;
  flex-direction: column;
}

/* --- Layout / grid --- */

/* --- HEADER --- */

/* --- MAIN --- */